<div class="container-fluid text-center mcbox">
    <h1>Profile</h1>
</div>
<div class="container-fluid text-right">
  <p><b><u><a [routerLink]="[ '/Home']">LogOut</a></u></b></p>
</div>
    
    <div class="alert alert-dark">
        <div class="form-row text-center">
            <div class="form-group col-sm-2 form-control ">
                <a [routerLink]="[ './AddPost']">AddPost</a>
            </div>
            <div class="form-group col-sm-2 form-control ">
                <a [routerLink]="[ './ManagePost']">ManagePost</a>
            </div>
            <div class="form-group col-sm-2 form-control ">
              <a [routerLink]="[ './ViewPost']">ViewPost</a>
            </div>
            <div class="form-group col-sm-2 form-control ">
              <a [routerLink]="[ './ViewAllPost']">ViewAllPost</a>
            </div>
          </div>
            
      </div>
















  
 
  
<router-outlet></router-outlet>